.container h1 {
    animation: type 3s steps(21);
    overflow: hidden;
    white-space: nowrap;
    font-family: cursive;
    width: 21ch;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    
    100% {
        width: 21ch;
    }
}